.main-container::-webkit-scrollbar {
  display: none;
}

.main-container {
  overflow: -moz-scrollbars-none;
}

.main-container {
  -ms-overflow-style: none;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  width: 100%;
}

.navbar-container {
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height: 7rem;
  font-size: 2rem;
  color: #e81515;
  background-color: #fff;
}

.main-container {
  overflow: auto;
  height: 68vh;
}

.navbar {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #e81515;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon {
  width: 220px;
  height: 60px;
}

.text-blue {
  color: #222d68;
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.footer-container {
  margin-top: 3rem;
  height: 3rem;
  background-color: #222d68
}

@media screen and (min-width: 1171px) {
  .main-container {
    height: 75vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .main-container {
    height: 83vh;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    height: 77vh;
  }

  .navbar-container {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .navbar-container {
    font-size: 1rem;
  }
}
